body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffc2c2;
}

.alarm-container {
    text-align: center;
}

.alarm-clock {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 200px;
    background-color: #863a53;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#time {
    font-size: 20em;
    margin-bottom: 10px;
}

button {
    padding: 100px 200px;
    font-size: 10em;
    cursor: pointer;
}