body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b97d7d;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sixtyfour', sans-serif;
    font-family: 'Stick', sans-serif;
}

.alarm-container {
    text-align: center;
}

.alarm-clock {
    border: 5px solid black;
    border-radius: 90px;
    padding: 90px;
    background-color: #863a53;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#time {
    font-size: 15em;
    margin-bottom: 5px;
}

button {
    padding: 20px 70px;
    font-size: 8em;
    border: 5px solid black;
    cursor: pointer;
    border-radius: 50px;
    background-color: rgb(92, 62, 107);
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sixtyfour', sans-serif;
    font-family: 'Stick', sans-serif;
}